---
layout: compress
permalink: "404.html"
---

<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="no-js">

      <header class="bg-light-gray">
          <div class="container">
              <div class="intro-text">
                <h2 class="section-heading">Désolé, la page n'existe pas</h2>
                <p><a href="/">Retour à l'accueil</a></p>
              </div>
          </div>
      </header>
      {% include footer.html %}
      {% include js.html %}

    </body>
</html>
