<!--[if lt IE 9]>
<div id="outdated">
  <p>La navigation de ce site n'est pas optimisé pour votre navigateur.</p>
  <p>Pour bénéficier d'une navigation sécurisée, plus rapide et avec les dernières évolution technique, veuillez <a href="http://outdatedbrowser.com/">mettre à jour votre navigateur</a></p>
  <div class="close"><i class="fa fa-times-circle fa-3"></i></div>
</div>
<![endif]-->

  <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top bg-white">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    {% include logo.svg %}
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#competences">Compétences</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header class="bg-light-gray">
        <div class="container">
            <div class="intro-text">
                <h1>
                    Je suis <strong>Julien Kéravec</strong>, <br>
                    Intégrateur & Développeur Front End.<br><br>
                    Je réalise des sites internet modernes et responsives.
                </h1>

                <a href="/CV_Julien_KERAVEC.pdf" class="download" rel="external">Télécharger mon CV <span class="fa fa-angle-down fa-3x"></span></a>
            </div>

            <a href="#competences" class="page-scroll next">
                <i class="fa fa-angle-down fa-5x"></i>
            </a>
        </div>
    </header>
