<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="webmaster, intégrateur HTML, développeur front end, réalisation création sites internet, redon">

    <!-- Open Graph -->
    <meta property="og:locale" content="fr_FR">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.imagefeature %}<meta property="og:image" content="{{ site.url }}/images/{{ page.imagefeature }}">{% else %}<meta property="og:image" content="{{ site.url }}/img/logo-og.jpg">{% endif %}

    {% if site.owner.twitter %}
    <!-- Twitter Cards -->
    {% if page.imagefeature %}<meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}/images/{{ page.imagefeature }}">
    {% else %}<meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/images/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}">{% endif %}
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:creator" content="@{{ site.owner.twitter }}">
    {% endif %}

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ site.url }}/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.url }}/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ site.url }}/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ site.url }}/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.url }}/icons/manifest.json">
    <link rel="mask-icon" href="{{ site.url }}/icons/safari-pinned-tab.svg">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{ site.url }}/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    {% if page.url == '/' and site.env == 'prod' %}
    <style>
      {% include critical.css %}
    </style>
    {% endif %}

    <script>{% include first.min.js %}</script>
    <script>
      {% if site.env == 'prod' %}
      loadCSS('/{{ "css/main.min.css" | prepend: site.baseurl }}');
      {% else %}
      loadCSS('/{{ "css/vendor-dev.css" | prepend: site.baseurl }}');
      loadCSS('/{{ "css/main-dev.css" | prepend: site.baseurl }}');
      {% endif %}
    </script>
    <noscript>
      {% if site.env == 'prod' %}
      <link rel="stylesheet" href="/{{ "css/main.min.css" | prepend: site.baseurl }}">
      {% else %}
      <link rel="stylesheet" href="/{{ "css/vendor-dev.css" | prepend: site.baseurl }}">
      <link rel="stylesheet" href="/{{ "css/main-dev.css" | prepend: site.baseurl }}">
      {% endif %}
    </noscript>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
