
    <!-- Header -->
    <header class="bg-light-gray">
        <div class="container">
            <div class="intro-text">
                <h1>
                    Je suis <strong>Julien Kéravec</strong>, <br>
                    Intégrateur & Développeur Front End.<br><br>
                    Je réalise des sites internet modernes et responsives.
                </h1>

                <a href="/CV_Julien_KERAVEC.pdf" class="download" rel="external">Télécharger mon CV <span class="fa fa-angle-down fa-3x"></span></a>
            </div>

            <a href="#competences" class="page-scroll next">
                <i class="fa fa-angle-down fa-5x"></i>
            </a>
        </div>
    </header>
