  {% if site.google_analytics_id %}
   <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics_id }}']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
  {% endif %}

  <!-- jQuery Version 1.11.0 -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"><\/script>')</script>

  {% if site.env == 'prod' %}
  <script src="{{ "/js/main.min.js" | prepend: site.baseurl }}" async></script>
  {% else %}
  <script src="{{ "/js/vendor.dev.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/main.dev.js" | prepend: site.baseurl }}"></script>
  {% endif %}
